PORT = 3011
DB_URL=""
JWT_SECRET = ""
AWS_ACCESS_KEY = ""
AWS_SECRET_KEY = ""

# The AWS_ACCESS_KEY & AWS_SECRET_KEY is used for sending emails but in this project i am not using aws ses service 


RAZORPAY_KEY_ID=""
RAZORPAY_SECRET_KEY=""
RAZORPAY_WEBHOOK_SECRET=""




# Add your own credentials above